{% extends 'core/base.html' %}
{% load static %}
{% block main-content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Procced TO checkout</h6> 
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Username:</h6>
                            <h6>{{userpr.user.username}}</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">User email</h6>
                            <h6 class="font-weight-medium">{{userpr.user.email}}</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Country</h6>
                            <h6 class="font-weight-medium">{{userpr.country}}</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">City</h6>
                            <h6 class="font-weight-medium">{{userpr.city}}</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Zipcode</h6>
                            <h6 class="font-weight-medium">{{userpr.zipcode}}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Address</h5>
                            <h5>{{userpr.address}}</h5>
                        </div>
                    </div>
                    <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" href="{% url 'profile' %}">Update Information</a>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        {% for car in carts %}
                        <div class="d-flex justify-content-between">
                            <p>{{car.product.name}}</p>
                            <p>{{car.quantity}}=Quantity</p>
                            <p>{{car.product.discounted_price}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>{{total}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$70</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            {%if carts %}
                            <h5>Total</h5>
                            <h5>{{total_amount}}</h5>
                            {%endif%}
                        </div>
                    </div>
                    
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <div id="paypal-button-container"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                        <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" id="place"  href="{% url 'placeorder' %}">place order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    <script src="https://www.paypal.com/sdk/js?client-id=AejvXB6KNcivoA5USdXFmzav4sLxAGBEMdW4UMFwLwFWwukO5B-zww5rhYkCrhXMEtsgEO2HKxjbr1d5&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{total_amount}}',
                            url:'/placeorder',
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    var url='/placeorder';
                    console.log(url);
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    window.location.href= "/placeorder";
                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>

   <!-- Cart End -->
   {% endblock main-content %}